language: bash
sudo: required

services:
  - docker

env:
  - DOCKERFILE="Docker/1604/Dockerfile"
  - DOCKERFILE="Docker/1610/Dockerfile"
  - DOCKERFILE="Docker/1704/Dockerfile"

before_install:
  - docker build -t caddy-script -f $DOCKERFILE .
  - docker run caddy-script /bin/bash -c "export TRAVIS_CI=1; apt-get update; apt-get install -y sudo software-properties-common; bash /tmp/main.sh"
